@import '../../@theme/styles/themes.scss';

@include nb-install-component() {
    nb-card-header {
        button {
            margin: 0rem 1rem;
        };
    }

}

ng2-smart-table {
    // .ng2-smart-titles {
    //     .ng2-smart-actions{
    //         //border: 0.5px solid #edf1f7;
    //         border: 1px solid #151a30;
    //     }
    // }

    .show-all {
        .ng2-smart-actions {
            display: flex;
            flex-direction: column;
            height: auto;
            //border: 0.5px solid #edf1f7;
            //border: 1px solid #151a30;

            ng2-st-tbody-custom {
                //border-bottom: 0.5px solid #edf1f7;
                //border: 1px solid #151a30;
                &:hover{
                    background-color: #fff;
                }
                
            }

            ng2-st-tbody-edit-delete {
                //border-top: 0.5px solid #edf1f7;
                //border: 1px solid #151a30;
                &:hover{
                    background-color: #fff;
                }
            }

            a.ng2-smart-action.ng2-smart-action-custom-custom{ 
                &:hover {
                    color: #3366ff;
                }
            }
        }
    }

    .hide-action {
        ng2-st-tbody-edit-delete {
            display: none;
            visibility: hidden;
        }

        a.ng2-smart-action.ng2-smart-action-custom-custom {
            &:hover {
                color: #3366ff;
            }
        }
    }

    .hide-custom-action {
        ng2-st-tbody-custom {
            display: none;
            visibility: hidden;
        }
    }

    .hide-all {
        display: none;
        visibility: hidden;
    }
}