<nb-card>
    <nb-card-header>
      <nav class="navigation">
        <a arial-label="Black" class="link back-link" href="javascript:void(0)" (click)="goBack()">
          <nb-icon icon="arrow-back" pack="eva"></nb-icon>
        </a>
      </nav>
    </nb-card-header>
    <nb-card-body>
      <div class="auth-block">
        <h1 id="title" class="title">Quên mật khẩu</h1>
      <p class="sub-title">Nhập địa chỉ email đã đăng ký bên dưới.</p>
      <form (ngSubmit)="onSubmit(forgotPasswordForm.value)" #form="ngForm" aria-labelledby="title">
  
        <div class="form-control-group">
            <span class="label-with-link">
              <label class="label" for="input-Password">Email:</label>
            </span>
            <input nbInput
                   fullWidth
                   [formControl]="forgotPasswordForm.controls['email']"
                   name="email"
                   type="email"
                   id="input-Email"
                   pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
                   placeholder="Email"
                   fieldSize="large"
                   [status]="forgotPasswordForm.controls['email'].dirty ? (forgotPasswordForm.controls['email'].invalid  ? 'danger' : 'success') : ''"
                   [required]="getConfigValue('forms.validation.email.required')"
                   [minlength]="getConfigValue('forms.validation.email.minLength')"
                   [maxlength]="getConfigValue('forms.validation.email.maxLength')"
                   [attr.aria-invalid]="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched ? true : null">
            <ng-container *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched ">
              <p class="caption status-danger" *ngIf="forgotPasswordForm.controls['email'].errors?.required">
                Email không được để trống!
              </p>
              <p class="caption status-danger" *ngIf="forgotPasswordForm.controls['email'].errors?.pattern">
                Sai định dạng email
              </p>
            </ng-container>
        </div>
      
        <button nbButton
                fullWidth
                status="primary"
                size="large"
                [disabled]="submitted || !forgotPasswordForm.valid"
                [class.btn-pulse]="submitted">
          Gửi
        </button>
      </form>
      </div>  
    </nb-card-body>
  </nb-card>
  