@import '../../@theme/styles/themes.scss';

@include nb-install-component() {
    nb-card-header {
        button {
            margin: 0rem 1rem;
        };
    }
}

nb-checkbox {
    margin-bottom: 1rem;
  }
  
  .form-inline [fullWidth] {
    flex: 1;
  }
  
  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }
  
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }