<nb-card>
    <nb-card-header>
      <nav class="navigation">
        <a arial-label="Black" class="link back-link" href="javascript:void(0)" (click)="goBack()">
          <nb-icon icon="arrow-back" pack="eva"></nb-icon>
        </a>
      </nav>
    </nb-card-header>
    <nb-card-body>
      <div class="auth-block">
        <h1 id="title" class="title">Đổi mật khẩu</h1>
      <p class="sub-title">Nhập thông tin mật khẩu bên dưới.</p>
      <form (ngSubmit)="onSubmit(changePasswordForm.value)" #form="ngForm" aria-labelledby="title">
  
        <div class="form-control-group">
            <span class="label-with-link">
              <label class="label" for="input-Password">Mật khẩu hiện tại:</label>
            </span>
            <input nbInput
                   fullWidth
                   [formControl]="changePasswordForm.controls['currentPass']"
                   name="currentpassword"
                   type="password"
                   id="input-Password"
                   placeholder="Mật khẩu hiện tại"
                   fieldSize="large"
                   [status]="changePasswordForm.controls['currentPass'].dirty ? (changePasswordForm.controls['currentPass'].invalid  ? 'danger' : 'success') : ''"
                   [required]="getConfigValue('forms.validation.currentpassword.required')"
                   [minlength]="getConfigValue('forms.validation.currentpassword.minLength')"
                   [maxlength]="getConfigValue('forms.validation.currentpassword.maxLength')"
                   [attr.aria-invalid]="changePasswordForm.controls['currentPass'].invalid && changePasswordForm.controls['currentPass'].touched ? true : null">
            <ng-container *ngIf="changePasswordForm.controls['currentPass'].invalid && changePasswordForm.controls['currentPass'].touched ">
              <p class="caption status-danger" *ngIf="changePasswordForm.controls['currentPass'].errors?.required">
                Mật khẩu hiện tại không được để trống!
              </p>
              <p class="caption status-danger" *ngIf="changePasswordForm.controls['currentPass'].errors?.minlength || currentpassword.errors?.maxlength">
                Mật khẩu phải có độ dài
                từ {{ getConfigValue('forms.validation.currentpassword.minLength') }}
                đến {{ getConfigValue('forms.validation.currentpassword.maxLength') }}
                ký tự
              </p>
            </ng-container>
        </div>
      
        <div class="form-control-group">
          <span class="label-with-link">
            <label class="label" for="input-Password">Mật khẩu mới:</label>
          </span>
          <input nbInput
                 fullWidth
                 [formControl]="changePasswordForm.controls['newPass']"
                 name="newpassword"
                 type="password"
                 id="input-Password"
                 placeholder="Mật khẩu mới"
                 fieldSize="large"
                 [status]="changePasswordForm.controls['newPass'].dirty ? (changePasswordForm.controls['newPass'].invalid  ? 'danger' : 'success') : ''"
                 [required]="getConfigValue('forms.validation.newpassword.required')"
                 [minlength]="getConfigValue('forms.validation.newpassword.minLength')"
                 [maxlength]="getConfigValue('forms.validation.newpassword.maxLength')"
                 [attr.aria-invalid]="changePasswordForm.controls['newPass'].invalid && changePasswordForm.controls['newPass'].touched ? true : null">
          <ng-container *ngIf="changePasswordForm.controls['newPass'].invalid && changePasswordForm.controls['newPass'].touched ">
            <p class="caption status-danger" *ngIf="changePasswordForm.controls['newPass'].errors?.required">
              Mật khẩu mới không được để trống!
            </p>
            <p class="caption status-danger" *ngIf="changePasswordForm.controls['newPass'].errors?.minlength || newpassword.errors?.maxlength">
              Mật khẩu phải có độ dài
              từ {{ getConfigValue('forms.validation.newpassword.minLength') }}
              đến {{ getConfigValue('forms.validation.newpassword.maxLength') }}
              ký tự
            </p>
          </ng-container>
        </div>

        <div class="form-control-group">
            <span class="label-with-link">
              <label class="label" for="input-Password">Xác nhận mật khẩu mới:</label>
            </span>
            <input nbInput
                   fullWidth
                   [formControl]="changePasswordForm.controls['confirmPass']"
                   name="confirmpassword"
                   type="password"
                   id="input-Password"
                   placeholder="Xác nhận mật khẩu mới"
                   fieldSize="large"
                   [status]="changePasswordForm.controls['confirmPass'].dirty ? (changePasswordForm.controls['confirmPass'].invalid  ? 'danger' : 'success') : ''"
                   [required]="getConfigValue('forms.validation.confirmpassword.required')"
                   [minlength]="getConfigValue('forms.validation.confirmpassword.minLength')"
                   [maxlength]="getConfigValue('forms.validation.confirmpassword.maxLength')"
                   [attr.aria-invalid]="changePasswordForm.controls['confirmPass'].invalid && changePasswordForm.controls['confirmPass'].touched ? true : null">
            <ng-container *ngIf="changePasswordForm.controls['confirmPass'].invalid && changePasswordForm.controls['confirmPass'].touched ">
              <p class="caption status-danger" *ngIf="changePasswordForm.controls['confirmPass'].errors?.required">
                Xác nhận mật khẩu không được để trống!
              </p>
              <p class="caption status-danger" *ngIf="changePasswordForm.controls['confirmPass'].errors?.minlength || confirmpassword.errors?.maxlength">
                Mật khẩu phải có độ dài
                từ {{ getConfigValue('forms.validation.confirmpassword.minLength') }}
                đến {{ getConfigValue('forms.validation.confirmpassword.maxLength') }}
                ký tự
              </p>
            </ng-container>
          </div>
      
        <button nbButton
                fullWidth
                status="primary"
                size="large"
                [disabled]="submitted || !changePasswordForm.valid"
                [class.btn-pulse]="submitted">
          Cập nhật
        </button>
      </form>
      </div>  
    </nb-card-body>
  </nb-card>
  